<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="./static/home/style.css">
  <title>G.M.O</title>
</head>

<body>
  <div class="main-bg">
    <video muted autoplay loop>
      <source src="./static/video/wave.mp4">
    </video>
    <div class="main-text">
      <h1><span>강원도로 마실 올래?</span></h1>
    </div>
  </div>

  <!-- nav bar 시작 -->
  <nav class="navbar">
    <a href="/" class="logo">G.M.O</a>
    <ul class="main-nav">

      <li>
      </li>

      <li><a href="#" class="nav-links">Menu1</a></li>
      <li><a href="#" class="nav-links">Menu2</a></li>
      <li><a href="#" class="nav-links">Menu3</a></li>
      <li><a href="#" class="nav-links">Menu4</a></li>
    </ul>
  </nav>
  <!-- nav bar 끝 -->

  <div class="cards-list">

    <a href="#">
      <div class="card1">
        <div class="card-img">
          <img src="https://i.redd.it/b3esnz5ra34y.jpg">
        </div>
        <div class="card_title">
          <span>날씨</span>
          <p>지역명</p>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="card1">
        <div class="card-img">
          <img src="https://i.redd.it/b3esnz5ra34y.jpg">
        </div>
        <div class="card_title">
          <span>날씨</span>
          <p>지역명</p>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="card1">
        <div class="card-img">
          <img src="https://i.redd.it/b3esnz5ra34y.jpg">
        </div>
        <div class="card_title">
          <span>날씨</span>
          <p>지역명</p>
        </div>
      </div>
    </a>

  </div>

</body>
</html>