<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/scripts.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <title>G.M.O</title>
</head>
<body>
<!--Header-->
    <header>
        <span>강원도로 마실 올래?</span>
        <img src="">
    </header>

<!--Posting Area-->
<div class="post-box">
    <div class="input-area">
        <div class="info">
            <input type="text" class="city" placeholder="지역">
            <input type="text" class="area" placeholder="장소">
            <select class="star">
                <option selected> 별점 선택</option>
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
        </div>
        <div class="write">
            <input type="text" class="title" placeholder="제목">
            <textarea class="dsc" placeholder="내용을 입력하세요"></textarea>
        </div>
    </div>
    <button class="submit">저장</button>
</div>

<!--    <br >-->
<!--    <form method="post" name="postBtn">-->
<!--        <input type="text" value="abcd"/>-->
<!--        <button type="submit">포스트버튼</button>-->
<!--    </form>-->
</body>
</html>