<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="../../static/scripts.js"></script>
  <link rel="stylesheet" href="../../static/detail/style.css">
  <title>G.M.O</title>
</head>

<body>

  <!-- nav bar 시작 -->
  <nav class="navbar">
    <a href="/" class="logo">G.M.O</a>
    <ul class="main-nav">
      <li><a href="#" class="nav-links">Menu1</a></li>
      <li><a href="#" class="nav-links">Menu2</a></li>
      <li><a href="#" class="nav-links">Menu3</a></li>
      <li><a href="#" class="nav-links">Menu4</a></li>
    </ul>
  </nav>
  <!-- nav bar 끝 -->

  <div class="list">
    게시물 리스트
  </div>
  <div class="content">
    본문
  </div>
</body>
</html>